{% include head-dark.html %}

    <div id='bump'>
        <section class="article archive">
          <article class="archive-wrap">
              <ol class="post-list">
                 <lh><h2><span class="bb">{{ page.title }}</span></h2></lh>
                 <p>I'm a <strong>software engineer</strong> interested in database management systems, data visualization, and big data.</p>
                 <p>Currently, I work at <strong>Microsoft</strong> on the SQL Server team. I graduated from the <strong>University of Washington</strong> with a B.S. in Computer Science.</p>
                 <p>
                   <a href="mailto:{{ site.owner.email }}">Email</a>
                   <br/>
                   <a href="https://www.linkedin.com/in/{{ site.owner.linkedin }}/">LinkedIn</a>
                 </p>
                 <lh><h2><span class="bb">Blog</span></h2></lh>
                  {% for post in site.posts %}
                  <li>
                    <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
                        <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>
                        <p class="">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
                    </div>
                  </li>
                  {% endfor %}
              </ol>
          </article>
        </section>
    </div>

{% include footer.html %}